<div id="music-modal" onclick="closeMusicModal()">
    <div class="modal-content" onclick="event.stopPropagation()">
        <div class="modal-title">Listen on...</div>
        <a id="modal-spotify" href="#" target="_blank" class="modal-btn m-spotify">Spotify</a>
        <a id="modal-apple" href="#" target="_blank" class="modal-btn m-apple">Apple Music</a>
        <div class="modal-btn m-playlist" onclick="triggerPlaylistPickerFromModal()">Add to Playlist</div>
        <div class="modal-btn m-cancel" onclick="closeMusicModal()">Cancel</div>
    </div>
</div>